html {
  box-sizing: border-box;
  position: relative;

  scroll-behavior: smooth;

  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

body {
  margin: 0 auto;
  position: relative;
  font-family: $font-primary;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.swiper-container {
  width: 991px;
  height: 528px;
}

@media (max-width: $desktop) {
  .swiper-container {
    width: 568px;
    height: 496px;
  }
}

@media (max-width: $tablet) {
  .swiper-container {
    width: 160px;
    height: 232px;
  }
}
