$purple: #5F62AC;
$dark-purple: #4A439D;
$yellow: #F0C630;
$white: #FFFFFF;
$black: #000000;

$font-primary: "Roboto", "Open Sans", sans-serif;

$desktop: 1023px;
$tablet: 767px;

$retina-dppx: 1.5dppx;
